/* ================  section_comment_example  ================ */
:root {
    --primaryPurple: #40445a;
    --secondaryPurple: #646686;
    /* secondaryPurple is used for alternate rows in table */
    --dimWhite: #f2f2f2;
    --gray: #3b3b3b;
}
html {
    font-size: 62.5%;
    /* sets root font size to 10px for easier calculation of rem */
}
body * {
    box-sizing: border-box;
}
body {
    background-color: var(--primaryPurple);
    color: var(--dimWhite);
    font-size: 1.6rem;
    font-family: monospace;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
a {
    color: var(--dimWhite);
}
header h1 {
    text-align: center;
}

/*
header ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0 4rem;
}
*/
header ul {
    text-align: center;
    padding-inline-start: 0;
}
header li {
    display: inline-block;
    margin: 0 1rem;
}

legend {
    border: 1px solid black;
}
#card-insert-form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#card-insert-form > label {
    flex-basis: 30%;
}
#card-insert-form textarea {
    width: 100%;
}
#card-insert-form span {
    display: block;
    text-align: center;
}

#card-direction-container {
    display: flex;
    flex-flow: column;
}
input[type="radio"] {
    margin: 3px;
    vertical-align: text-top;
}
.hidden {
    display: none !important;
}

/* ================  table  ================ */
table {
    border-collapse: collapse;
    border: 2px solid var(--dimWhite);
}

td,
th {
    border: 1px solid var(--dimWhite);
    padding: 6px 8px;
}

/* table striping */
thead,
tr:nth-child(even) {
    background-color: var(--secondaryPurple);
}

table#editable-cards-table tbody tr {
    cursor: pointer;

    &:hover {
        outline: solid var(--dimWhite);
    }
}

/* ================  tooltip  ================ */
/* NOTE: no longer being used. keeping around in case this comes in handy
to use, put a .tooltip-container element inside a .tooltip-creator
.tooltip-container will be hidden by default & will be shown when hovering over .tooltip-creator.
can delete all tooltip styles if not using at all
*/
.tooltip-question-mark {
    display: inline-block;
    vertical-align: middle;
    height: 1.3em;
    width: 1.3em;
    border: 1px solid var(--dimWhite);
    border-radius: 50%;
    opacity: 0.5;
}
.tooltip-creator {
    position: relative;
    cursor: help;
}
.tooltip-container {
    position: absolute;
    left: -10%;
    visibility: hidden;
    font-size: 1.2rem;
    background: var(--gray);
    width: 120%;
    padding: 5px;

    & > ul {
        text-align: left;
        padding-inline-start: 20px;
    }
}
.tooltip-creator:hover {
    .tooltip-container {
        visibility: visible;
    }
    .tooltip-question-mark {
        opacity: 1;
    }
}

/* ================  edit dialog  ================ */
dialog {
    background: var(--secondaryPurple);
    color: var(--dimWhite);
}
